* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

body .wrapper {
  width: 70%;
  display: block;
  margin: 60px auto;
}

body .wrapper .slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% (5%)[5];
      grid-template-columns: 75% repeat(5, 5%);
  -ms-grid-rows: 90% 10%;
      grid-template-rows: 90% 10%;
      grid-template-areas: "slider slider slider slider slider slider" "text control1 control2 control3 control4 control5";
}

body .wrapper .slider .mems-slider {
  width: 500%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  background-color: aliceblue;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: slider;
}

body .wrapper .slider .mems-slider .mems {
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

body .wrapper .text-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
}

body .wrapper .text-control .text-wrapper {
  width: 50%;
  overflow: hidden;
}

body .wrapper .text-control .text-wrapper .texts {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body .wrapper .text-control .text-wrapper .texts .mems-text {
  width: 500%;
  margin-left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

body .wrapper .text-control .controls-slider {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .wrapper input {
  color: aquamarine;
}

#text1, #text2, #text3, #text4, #text5 {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #f7fbff;
}

#point1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: control1;
}

#point2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: control2;
}

#point3 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: control3;
}

#point4 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: control4;
}

#point5 {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: control5;
}

img {
  height: 100%;
}

label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: red;
}

input:hover {
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: #6d5442;
}

#point1:checked ~ .mems-slider {
  margin-left: 0%;
}

#point2:checked ~ .mems-slider {
  margin-left: -100%;
}

#point3:checked ~ .mems-slider {
  margin-left: -200%;
}

#point4:checked ~ .mems-slider {
  margin-left: -300%;
}

#point5:checked ~ .mems-slider {
  margin-left: -400%;
}

#point1:checked ~ .text-control > .text-wrapper > .texts > .mems-text {
  margin-left: 0%;
}

#point2:checked ~ .text-control > .text-wrapper > .texts > .mems-text {
  margin-left: -100%;
}

#point3:checked ~ .text-control > .text-wrapper > .texts > .mems-text {
  margin-left: -200%;
}

#point4:checked ~ .text-control > .text-wrapper > .texts > .mems-text {
  margin-left: -300%;
}

#point5:checked ~ .text-control > .text-wrapper > .texts > .mems-text {
  margin-left: -400%;
}
/*# sourceMappingURL=index.css.map */